<%-include("./partials/head")-%>
<body>
  <%-include("./partials/navbar")-%>
  <div class="container">
    <%-include("./partials/hero")-%> <%-include("./partials/form")-%>
    <%-include("./partials/table")-%> <%-include("./partials/cards")-%>
  </div>
</body>

<%-include("./partials/footer")-%>
